<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/public/style.css">
  <title>Document</title>
</head>
<body>
  <script src="https://api.270degrees.nl/api/script/latest/customiser.js"></script>
  <div class="js-270viewer" data-270-plugins="customiser"></div>